# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.metadata
.atom/
.buildlog/
.history
.svn/
.zed/
.fdemon/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
*.zip
*.ps1
.idea/
ISSUES.md
/ISSUES.md
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
website_old/
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/data/
desktop.ini
test.plugins
.vscode
yasb
# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

.history/
**/.history/
pubspec.lock
**/pubspec.lock
.a.Release.lnk
.vscode
*Release*
Tabame.lnk
##
*.pem
/key/
roadmap.md
lib/models/classes/boxes_old.dartx
MICROSOFT*
*.dartx

# Flutter Demon user preferences (not tracked)
.fdemon/settings.local.toml
