<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     RequiredVersion="6.0.0">
  <Package
    Name="Tabame"
    Manufacturer="Far Se"
    Version="$(AppVersion)"
    UpgradeCode="E8981912-5B7E-49C3-90F1-ECC1F314A631"
    Scope="perMachine"
    InstallerVersion="500"
    Language="1033"
    Compressed="yes">

    <SummaryInformation Description="Tabame desktop launcher and quick menu" />
    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of Tabame is already installed."
      Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Tabame" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder" />

    <Icon Id="Tabame.exe" SourceFile="$(RepoRoot)\windows\runner\resources\app_icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="Tabame.exe" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/Far-Se/tabame" />
    <Property Id="ARPHELPLINK" Value="https://github.com/Far-Se/tabame/issues" />

    <Feature Id="MainFeature" Title="Tabame" Level="1">
      <Files Directory="INSTALLFOLDER" Include="$(PayloadDir)\**" />
      <Component Id="StartMenuShortcut" Directory="INSTALLFOLDER" Guid="3DCFD8D6-B47C-421E-B302-354925A480D1">
        <Shortcut
          Id="TabameStartMenuShortcut"
          Directory="ProgramMenuFolder"
          Name="Tabame"
          Description="Open Tabame"
          Target="[INSTALLFOLDER]tabame.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue
          Root="HKLM"
          Key="Software\Far Se\Tabame"
          Name="MsiShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </Feature>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="$(RepoRoot)\packaging\windows\installer\License.rtf" />
  </Package>
</Wix>
